<div class="conatiner-fluid" style="width:100%; height: 400px;">
 
    <div class="row gx-2 ">
        <div class="col-4 " >
            <div class="p-4 border" style="  height: 400px; " >
                Column 1
            </div>
        </div>
        <div class="col-4 " >
            <div class="p-4 border" style="  height: 400px; ">
                Column 2
            </div>
        </div>
        <div class="col-4 " >
            <div class="p-4 border" style="  height: 400px; ">
                Column 3
            </div>
        </div>
    </div>
    </div>