<div class="container my-3 m-0 responsive" >
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col card-group">
        <div class="p-3  bg-light"><div class="card ">
          <img src="../../../assets/notify2.jpg" class="card-img-top rounded-circle my-3 mx-3" alt="...">
          <div class="card-body">
            <h2 class="card-title me-5">555$</h2>
            <p class="card-text me-5">Some quick.</p>
          </div>
        </div></div>
      </div>
      <div class="col">
        <div class="p-3  bg-light"><div class="card ">
          <img src="../../../assets/notify2.jpg" class="card-img-top rounded-circle my-3 mx-3" alt="...">
          <div class="card-body">
            <h2 class="card-title me-5">555$</h2>
            <p class="card-text me-5">Some quick.</p>
          </div></div>
          </div>
      </div>
      <div class="col">
        <div class="p-3  bg-light"><div class="card ">
          <img src="../../../assets/notify2.jpg" class="card-img-top rounded-circle my-3 mx-3" alt="...">
          <div class="card-body">
            <h2 class="card-title me-5">555$</h2>
            <p class="card-text me-5">Some quick.</p>
          </div></div></div>
      </div>
      <div class="col">
        <div class="p-3  bg-light"><div class="card ">
          <img src="../../../assets/notify2.jpg" class="card-img-top rounded-circle my-3 mx-3" alt="...">
          <div class="card-body">
            <h2 class="card-title me-5">555$</h2>
            <p class="card-text me-5">Some quick.</p>
          </div></div></div>
      </div>
      <div class="col">
        <div class="p-3  bg-light"><div class="card ">
          <img src="../../../assets/notify2.jpg" class="card-img-top rounded-circle my-3 mx-3" alt="...">
          <div class="card-body">
            <h2 class="card-title me-5">555$</h2>
            <p class="card-text me-5">Some quick.</p>
          </div></div></div>
      </div>
      
    </div>
  </div>