<div class="container-fluid my-3 m-0 responsive" >
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col ">
        <div class=" bg-light"><div class="card ">
          <img src="../../../assets/notify2.jpg" class="card-img-top rounded-circle my-3 mx-3" alt="...">
          <div class="card-body">
            <h2 class="card-title me-5">$655</h2>
            <p class="card-text me-5">Total Revenue</p>
          </div>
        </div></div>
      </div>
      <div class="col">
        <div class="  bg-light"><div class="card ">
          <img src="../../../assets/notify2.jpg" class="card-img-top rounded-circle my-3 mx-3" alt="...">
          <div class="card-body">
            <h2 class="card-title me-5">$4213</h2>
            <p class="card-text me-5">Online Revenue</p>
          </div></div>
          </div>
      </div>
      <div class="col">
        <div class="  bg-light"><div class="card ">
          <img src="../../../assets/notify2.jpg" class="card-img-top rounded-circle my-3 mx-3" alt="...">
          <div class="card-body">
            <h2 class="card-title me-5">$380</h2>
            <p class="card-text me-5">Expenses</p>
          </div></div></div>
      </div>
      <div class="col">
        <div class="  bg-light"><div class="card ">
          <img src="../../../assets/notify2.jpg" class="card-img-top rounded-circle my-3 mx-3" alt="...">
          <div class="card-body">
            <h2 class="card-title me-5">$128</h2>
            <p class="card-text me-5">Expenditure</p>
          </div></div></div>
      </div>
      <div class="col">
        <div class="  bg-light"><div class="card ">
          <img src="../../../assets/notify2.jpg" class="card-img-top rounded-circle my-3 mx-3" alt="...">
          <div class="card-body">
            <h2 class="card-title me-5">1450</h2>
            <p class="card-text me-5">Total Users</p>
          </div></div></div>
      </div>
      
    </div>
  </div>