.mt-4{
  font-size: medium;
  color: rgb(121, 121, 121);

}
.bold{
  font-weight: bolder;
}
.progresstext{
  position: relative;
  top: -67px;
  right: -46px;
}
.media-text1{
  position: relative;
  top: -13px;

}

